p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    margin:1% 1.5%;
}

.li{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.headings{
    margin:1% 1%;
}
body{
    background-color: papayawhip;
}

.vl {
    border-left: 3px solid white;
    height: 4%;
    position:absolute;
    display: inline-block;

  }
