body{
    margin:0%;
    padding:0%;
}

div{
    display:inline-block;
}
.row{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5%;
    margin:3% 25%;
}
.team{
    background-color: blanchedalmond;
    margin:5% 5%;
}

h2{
    text-align: center;
    font-size: xx-large;
}

p{
    font-size: x-large;
    padding:3%;
}

.icon{
    width:5%;
    padding:5%;
}
input,label,select,textarea{
    padding:5% 5%;
    display:inline-block;
    font-size:larger;
    margin-left:2%;
}

.contact{
    display:inline-block;
    padding:0.5% 1%;
}

.container{
    
    display:inline-block;
    padding-top:1% ;
    padding-right:5%;
    background-color: bisque;
    width:15%;
}

input{
    padding:2% 5%; 
}

textarea{
   padding:10% 15%;
}

