body{
    background-image: url("/wallpaper-2.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    padding:0.5% 2%;
    text-decoration:none;
    font-size: 20px;
    color:ivory;
}
a:hover{
    text-decoration: underline;
}
.header-link-left{
    margin-left:55%;
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color: black;
}
.flexbox{
    border: 3px solid black;
    display:inline-block;
    padding:1% 1%;
    margin:1% 4%;
    border-radius: 20px;
    font-family: monospace;
}
.section-image{
    position:center;
    width: 200px;
    height:200px;
}

.homepage-link{
    text-decoration: none;
    color:black;
}
h3{
    text-align:center;
}

footer{
    background-color:transparent;
    color:ivory;
}

.homeimage
{
    width:25%;
    margin-right:4.3% ;
    margin-top: 2%;
    
}