body{
    margin:0%;
    padding:0%;

}

header{
    background-color:gray ;
   
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color: black;
}

.links{
    font-size: medium;
    display:inline-block;
    text-decoration: none;
    color:ivory;
    padding:1% 3%;
}

.header-link-left{
    font-size: medium;
    margin-left:55%;
    color:ivory;
    padding:1% 3%;
    text-decoration: none;
}

footer{
    background-color: grey;
    color:ivory;
}

.download-button{
    background-color:whitesmoke;
    color:black;
    margin:1% 42%;
    padding:1% 1%;
    font-size: large;
    width:15%;
    font-family: monospace;

}

.sem-blocks{
    font-family: monospace;
    display:inline-block;
    border:3px solid black;
    background-color: whitesmoke;
    padding:1% 1%;
    margin:1% 4%;
   
}

ul{
    font-size:x-large;
}

.sub-blocks{
    margin:3% 5%;
    font-family: monospace;
}

.button-style{
    padding:1% 3%;
    background-color: black;
    color:ivory;
    font-size: large;
    font-family: monospace;
}

h3{
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
main{

    background-color:lightcyan;
    display: inline-block;
    width: 100%;
}