body{
    margin:0%;
    padding:0%;

}

header{
    background-color: #0000CD;
   
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color:ivory;
}

.links{
    display:inline-block;
    text-decoration: none;
    color:ivory;
    padding:1% 3%;
}

.header-link-left{
    margin-left:55%;
    color:ivory;
    padding:1% 3%;
    text-decoration: none;
}

footer{
    background-color: #0000CD;
    color:ivory;
}

.download-button{
    background-color:black;
    color:white;
    margin:1% 42%;
    padding:1% 1%;
    font-size: medium;
    width:15%;

}

.sem-blocks{
    display:inline-block;
    border:3px solid black;
    background-color: whitesmoke;
    padding:1% 1%;
    margin:1% 4%;
}

ul{
    font-size:x-large;
}