body{
    margin:0%;
    padding:0%;
    
}

img{
    float:right;
    padding-right:1%;
    height:1%;
}
a{
    padding:0.5% 2%;
    text-decoration:none;
    font-size: 20px;
    color:white;
}
a:hover{
    text-decoration: underline;
}
.header-link-left{
    margin-left:55%;
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color:white;
}

header{
    background-color:rgb(255, 130, 67);
    padding-bottom:10%;
}

.tagline{
    color:white;
    font-size: 50px;
    font-style: italic;
    padding-left:5%;
    padding-top:3%;
    
}
.flexbox{
    background-color:whitesmoke;
    border: 3px solid black;
    display:inline-block;
    padding:1% 1%;
    margin:3% 5%;
    border-radius: 20px;
    font-family: monospace;
    
    
}
.section-image{
    position:center;
    width: 200px;
    height:200px;
}

.homepage-link{
    text-decoration: none;
    color:black;
}
h3{
    text-align:center;
}

footer{
    background-color:rgb(252, 116, 101);
    color:ivory;
}

main{
    background-color:white;
}

.homeimage
{
    width:25%;
    margin-right:4.3% ;
    margin-top: 2%;
    
}