body{
    margin:0%;
    padding:0%;
    
}
/*
img{
    float:right;
    padding-right:1%;
    height:1%;
}
*/
a{
    padding:0.5% 2%;
    margin:1% 1%;
    text-decoration:none;
    font-size: 20px;
    color:white;
}
a:hover{
    text-decoration: underline;
}
.header-link-left{
    margin-left:50%;
}

.website-name{
    margin:1%;
    display:inline-block;
    color:white;
}

header{
    background-color:rgb(255, 130, 67);
}
/*
.tagline{
    color:white;
    font-size: 50px;
    font-style: italic;
    padding-left:5%;
    padding-top:3%;
    
}
*/
.flexbox{
    background-color:rgba(128, 128, 128, 0.226);
    
    border: 3px ;
    display:inline-block;
    padding:1% 1%;
    margin:3% 3%;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif;
    
    
}
.section-image{
    position:center;
    width: 200px;
    height:200px;
}

.homepage-link{
    text-decoration: none;
    color:black;
}
h3{
    text-align:center;
}

footer{
    background-color:rgb(250, 100, 25);
    color:white;
    margin-top:0%;
    padding-top:0%;

}

main{
    background-color:papayawhip;
}

.homeimage
{
    width:25%;
    margin-right:4.3% ;
    margin-top: 2%;
    
}


/* Slide Show CSS*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin-bottom:auto ;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.sidebar{
  background-color:rgb(255, 102, 25);
  display: inline-block;
  margin: 5% 3%;
  
}
