body{
    margin:0%;
    padding:0%;

}

header{
    background-color:rgb(255, 130, 67) ;
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color: white;
}

.links{
    font-size:130%;
    display:inline-block;
    text-decoration: none;
    color:ivory;
    padding:1% 3%;
}

.header-link-left{
    font-size:130%;
    margin-left:55%;
    color:ivory;
    padding:1% 3%;
    text-decoration: none;
}

footer{
    background-color:rgb(250, 100, 25);
    color:ivory;
    
}

.download-button{
    background-color:whitesmoke;
    color:black;
    margin:1% 42%;
    padding:1% 1%;
    font-size: large;
    width:15%;
    font-family: monospace;

}

.sem-blocks{
    border:3px solid black;
    font-family: monospace;
    background-color: whitesmoke;
     padding:1% 1%;
    margin:1% 30%;
}

ul{
    font-size:x-large;
}

.sub-blocks{
    margin:3% 5%;
    font-family: monospace;
}

.button-style{
    padding:1% 3%;
    background-color:rgba(128, 128, 128, 0.226);
    color:black;
    font-size: large;
    font-family: monospace;
    border: 15px;
}

h3{
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
main{
    background-color:rgba(128, 128, 128, 0.178);
    display:grid;
    padding-bottom:10%;
}
.row{
    margin: 0 auto;
    max-width: 60%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5% 10%;
    
}


