body{
    margin:0%;
    padding:0%;

}

header{
    background-color:rgb(255, 130, 67) ;
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color: white;
}

.links{
    font-size:130%;
    display:inline-block;
    text-decoration: none;
    color:ivory;
    padding:1% 3%;
}

.header-link-left{
    font-size:130%;
    margin-left:50%;
    color:ivory;
    padding:1% 3%;
    text-decoration: none;
}

.vl {
    border-left: 3px solid white;
    height: 2%;
    position:absolute;
    display: inline-block;

  }

footer{
    background-color:rgb(250, 100, 25);
    color:ivory;
    
}

.download-button{
    background-color: rgba(49, 47, 47, 0.13);
    font-weight: bold;
    color:black;
    margin:1% 42%;
    padding:1% 1%;
    font-size: large;
    width:15%;
    font-family:'Times New Roman', Times, serif;

}

.sem-blocks{
    border:3px solid black;
    font-family:'Times New Roman', Times, serif;
    background-color:papayawhip ;
    padding:5% 5%;
  
}

.phychem{
    border:3px solid black;
    font-family: 'Times New Roman', Times, serif;
    
    background-color:white;
     padding:1% 1%;
    margin:1% 30%;

}

ul{
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
}

.sub-blocks{
    margin:3% 5%;
    font-family: 'Times New Roman', Times, serif;
}

.button-style{
    padding:1% 3%;
    /*background-color:rgba(128, 128, 128, 0.226);*/
    background-color: rgba(128, 128, 128, 0.37);
    color:black;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    border: 15px;
    margin:5% 25%;
}

h3{
    font-size: xx-large;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
main{
    background-color:rgba(128, 128, 128, 0.13);
    display:grid;
    padding-bottom:10%;
}
.row{
    margin: 0 auto;
    max-width: 60%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5% 10%;
    
}

.icon{
    display:inline-block;
    width:1%;
}

.buttonstyle{
    display:inline-block;
    margin:1% 3%;
    padding:1% 3%;
    border:2px solid black;
    background-color: rgba(49, 47, 47, 0.13);
    font-size: large;
    border-radius: 15px;
}

h2{
    font-size: xx-large;
    text-align: center;
}