body{
    margin:0%;
    padding:0%;
}

header{
    background-color: #0000CD;
    padding:1% 4%;
    height:50%;
}

.website-name{
    font-size:xx-large;
    color:ivory;
    font-family:" Brush-Script-Mt","Lobster";
    margin-top:0%;
    margin-bottom:25%;
    display:inline-block;
}
.header-img{
     margin-top:5%;
    height:5%;
    float:right;
}