body{
    margin:0%;
    padding:0%;

}

img{
    float:right;
    padding-right:1%;
}
a{
    padding:0.5% 1%;
    text-decoration: none;
    color:ivory;
}
.header-link-left{
    padding-left:65%;
}

.website-name{
    padding-left:2%;
    display:inline-block;
    color:ivory;
}

header{
    background-color: #0000CD;
    padding-bottom:10%;
}

.tagline{
    color:ivory;
    font-size: 50px;
    font-style: italic;
    padding-left:5%;
    padding-top:3%;
}
