body{
    margin:0%;
    padding:0%;
}

header{
    background-color: #0000CD;
    padding:1% 4%;
    height:50%;
    
}

.flexbox{
    font-size:xx-large;
    color:ivory;
    font-family:" Brush-Script-Mt","Lobster";
    margin-top:0%;
    margin-bottom:25%;
    display:flexbox;

}

.header-img{
    width:25%;
    float:right;
    padding-top:0%;
    margin-top:0%;
    display:inline-flexbox;
    
}

