body{
    margin:0%;
    padding:0%;
}

header{
    background-color: #0000CD;
    padding:1% 4%;
    height:50%;
    
}

.website-name{
    font-size:xx-large;
    color:ivory;
    font-family:" Brush-Script-Mt","Lobster";
    margin-top:0%;
    margin-bottom:25%;
    display:inline-block; 
}

.header-link{
    color:ivory;
    text-decoration: None;
    margin-top:1%;
    margin-left:3%;   
}

.header-img{
    width:25%;
    float:right;
    padding-top:0%;
    margin-top:0%;
}

